body, #canvas {
  overflow-x: hidden; }

.slides {
  overflow-x: hidden; }
  .slides section {
    position: absolute;
    display: block;
    transition: left ease 1s;
    left: 0%;
    margin: 16px;
    padding: 16px;
    width: 95%;
    width: -webkit-calc(100% - 64px);
    width: calc(100% - 64px);
    min-height: 95%;
    min-height: -webkit-calc(100% - 64px);
    min-height: calc(100% - 64px); }
  .slides section.to-see {
    left: 100%; }
  .slides section.seen {
    left: -100%; }

.dialog {
  display: block;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 2px solid gray;
  background-color: black;
  color: white;
  overflow-y: scroll;
  z-index: 500;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  font-size: 200%; }
  .dialog .toolbar {
    position: fixed;
    padding-right: 0;
    padding-left: 0;
    width: 90%; }
    .dialog .toolbar span {
      text-align: center;
      align: middle; }
  .dialog .toolbar + * {
    margin-top: 70px;
    padding: 10px; }

.themes-list {
  padding: 10px;
  list-style: none; }
  .themes-list li {
    padding-bottom: 15px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: white; }
  .themes-list img {
    max-width: 100%; }

.bar {
  position: absolute;
  display: block;
  z-index: 5;
  top: 99%;
  top: -webkit-calc(100% - 5px);
  top: -moz-calc(100% - 5px);
  top: calc(100% - 5px);
  left: 0;
  height: 5px; }

.toolbutton:disabled {
  opacity: 0.6; }

#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg); }

#main-toolbar #add {
  background-image: url(../icons/add.svg); }

#main-toolbar #remove,
.toolbar #delete {
  background-image: url(../icons/remove.svg); }

#main-toolbar #n {
  background-image: url(../icons/next.svg); }

#main-toolbar #p {
  background-image: url(../icons/prev.svg); }

#main-toolbar #format {
  background-image: url(../icons/format.svg); }

#main-toolbar #theme {
  background-image: url(../icons/theme.svg); }

#main-toolbar #img {
  background-image: url(../icons/insert-img.svg); }

#main-toolbar #cloud {
  background-image: url(../icons/cloud.svg); }

.toolbar #bold {
  background-image: url(../icons/bold.svg); }

.toolbar #italic {
  background-image: url(../icons/italic.svg); }

.toolbar #ol {
  background-image: url(../icons/ol.svg); }

.toolbar #ul {
  background-image: url(../icons/ul.svg); }

.toolbar #h1 {
  background-image: url(../icons/h1.svg); }

.toolbar #h2 {
  background-image: url(../icons/h2.svg); }

.toolbar #close {
  background-image: url(../icons/dialog-cancel.svg); }

.toolbar #bigger {
  background-image: url(../icons/fullscreen.svg); }

.toolbar #smaller {
  background-image: url(../icons/unfullscreen.svg); }

#main-toolbar #fullscreen {
  background-image: url(../icons/fullscreen.svg); }

#main-toolbar #unfullscreen {
  background-image: url(../icons/unfullscreen.svg);
  z-index: 100;
  transition: 0.25s ease all;
  opacity: 0.3; }
  @media not screen and (device-width: 1200px) and (device-height: 900px) {
    #main-toolbar #unfullscreen {
      margin-right: 51px; } }
  @media screen and (device-width: 1200px) and (device-height: 900px) {
    #main-toolbar #unfullscreen {
      margin-right: 63px; } }

#main-toolbar #unfullscreen:hover {
  opacity: 1; }

#main-toolbar.hidden {
  height: 0px; }

#main-toolbar.hidden > .toolbutton,
#main-toolbar.hidden > .scribe-toolbar > .toolbutton {
  display: none; }

#main-toolbar.hidden + #canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%; }

.floating-toolbar {
  border: 2px solid gray;
  background-color: black;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 500;
  margin: 10px;
  padding: 0 0; }
